#albert_data/unilm_roformer_large_with_nce_ilm_mixture_final_nce_v5_nomix_add_entity
#albert_data/global_pointer_roformer_duuie_large_all_balanced_initial_nodup
#albert_data/unilm_roberta_large_with_nce_ilm_mixture_final_nce_v6_nomix_add_entity
#albert_data/unilm_roberta_large_with_nce_ilm_mixture_final_nce_v4_initial_add_entity_no_pos
#albert_data/global_pointer_roformer_duuie_large_all_initial_nodup
*.pth*
*.pyc
transformers/
